/* color variable */

:root{
    --red:#f42625;
    --white:#ffffff;
    --black:#000000;
    border: none;
    list-style: none;
}
header{
    width: 1140px;
    height: 75px;
    font-size: 18px;
    margin: 12px 0px;
}
/* main logo  
*/
#main-logo{

    width: 165px;
    margin-left: 60px;
}
/* navbar styling */
#nav-links{
 
  gap: 30px;
  align-content: flex-end;
  margin-right: -60px;

  

}
.btn{
    height: 48px;
    width: 140px;
    border: none;
    cursor: pointer;
    padding: 10px;

}
#franchise{
    background:transparent;
    border: 1px solid white;
}
#Order-online{

    background: var(--red);
    color: white;
}
span{
    height: 30px;
    width: 50px;
    
}
.icon{ 
 
    color: #f42625;
    padding: 5px;
    font-size: 15px;
    
    border-radius: 30px;
    background-color: var(--white);
}
.carousel{
    width: 100%;
}
.main-head{
    margin-top: 60px;
    font-size: 1.5rem;
    line-height: 40px;
}
.main-text{
    font-size: 17px;
    line-height: 50px;
}
.category{
    gap: 30px;
}
.cat-img{
    padding: 10px;
    border-radius: 4px;
}
.cat-bg{
    background-color: var(--white);
}
.cat-img-btn{
    width: 176px;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 30px;
    cursor: pointer;
}
.free-space{
    height: 80px;
}
.hero-btn{
    width: 200px;
    height: 50px;
   padding: 15px ;
   font-size: 14px;
 
    
    background-color: var(--black);
    border: 1px solid var(--white);
}
.franchises{
    height: 1260px;
    background-color: rgba(255, 255, 255, 0.06);
     
    background-image: url("../asset/S.webp");
    background-repeat: no-repeat;
    background-position: 900px 50px  ;
    text-align: left;
 
}
.fran-main-head{
    padding-top: 50px;
    font-size: 40px;
  line-height: 45px;
    text-align: center;
    
}
.fran-p{
    line-height: 45px;
}
.fran-text{
    max-width: 450px;
    margin-left: 50px;
 
}
.small{
    
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 6px;
    color: var(--red);
}
.fran-big-text{
    
   font-size: 1.7rem;
   line-height: 50px;
   padding-bottom: 15px;
}
.fran-img{
    margin-right: 40px;
}
.express-fran{
    height: 100%;
    background-image: url('../asset/S.webp'), linear-gradient(115deg, #000000 76%, #c03232 100%);

    background-repeat: no-repeat;
    background-position: 50px 50px;



}
.e-main{
    max-width: 350px;
    text-align: center;
    letter-spacing: 1px;
}
small{

    width: 100%;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 6px;
    color: var(--red);
}
.express-main{
    width: 100%;
 
    margin-top: 50px;
    
}
.e-img{
    max-width: 360px;
}
.village-fran{
    background-color:rgba(255, 255, 255, 0.06) ;
    height: 100%;
    gap: 20px;
}
.vill-img img{
    max-width: 700px;
}
.vill-text{
    max-width: 640px;
    padding-left: 30px;
    letter-spacing: 1px;
    font-size: 15px;
    
 
}
.fs{
    font-size: 15px;
}
#vill-btn{
    background-color: #28a745;
    border: 1px solid #28a745 !important;
}
.green{
    color: #28a745;
}
.newly-div{
    padding: 10px;
    gap: 20px;
}
.newly-open{
    text-align: center;
   
    max-width: 350px;
    background-color: var(--white);
    color: #000000;
    padding: 40px 20px ;
}
.newly-open h2,b{
    color: #000000;
    text-align: center;
}
.newly-open b{
    font-weight: 800;
}
.social-img{
    max-width: 230px;
    padding: 10px;
}
footer{
    height: 500px;
    background-color: rgba(255, 255, 255, 0.06);
    background-image: url("../asset/S-L.webp");
    background-repeat: no-repeat;
    background-position: 50px;
}
.footers{
    gap: 60px;
    margin-left: 40px;
}
.details{
    max-width: 300px;
}

#foot-logo{
    width: 170px;
    height: 80px;
}
.foot-link{
    gap: 19px;
}
.follow-links{
  gap: 10px;
}
.follow-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    

    border-radius: 40px;
    height: 40px;
    width: 40px;
    background-color: var(--red);
    color: var(--white);
}
hr{
    border: 1px solid rgb(44, 44, 44);
    width: 100%;
    height: 0.3px;
    font-size: 0.3px;
}
.last{
    width: 100%;
    padding: 0px 40px;
    
    
}
.lasts{
    max-width: 600px;
    
    
    
    
}
.span-h{
    width: 200px;
}
